*{
    font-family: arial;
    background-color: antiquewhite;
}
.baner{
    background-color: #7B5E57;
    color: white;
    text-align: center;
}
.wizytowka{
    background-color: antiquewhite;
    width: 300px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;
    padding-bottom: 60px;
    border: solid gray;
    box-shadow: 10px, 10px, 20px, 20px gray;

}
.stopka-lewo{
    background-color: #7B5E57;
    color: white;
    height: 200px;
    width: 33%;
    float: left;
}
.stopka-prawo{
    background-color: #7B5E57;
    color: white;
    height: 200px;
    width: 33%;
    float: right;
}.stopka-srodek{
    background-color: #7B5E57;
    color: white;
    height: 200px;
    width: 34%;
    float: right;
}
input{
    background-color: #7B5E57;
    color: white;
    padding: 10px;
    margin: 5px;

}
h1{
    background-color: #7B5E57;
}
p{
    background-color: #7B5E57;
    width: 100%;
}
button{
    background-color: #7B5E57;
    color: white;
}
