body{
    margin: 0;
    background-color: #89CFF3;
    ;
}

.baner1{
    width: 60%;
    height: 100px;
    float: left;
    background-color: #00A9FF;
    font-family: tahoma;
}
.baner2{
    width: 40%;
    height: 100px;
    float: right;
    text-align: center;
    background-color: #00A9FF;
    font-family: tahoma;

}
p{
    padding-left: 10px;
}
.main{
    width: 30%;
    background-color: #CDF5FD;
    text-align: center;
    height: 500px;
    border-radius: 50px;
    margin-top: 20px;
    margin-left: 20px;
    float: left;
}.main2{
    width: 30%;
    background-color: #CDF5FD;
    text-align: center;
    height: 500px;
    border-radius: 50px;
    margin-top: 20px;
    margin-right: 20px;
    float: right;
    text-align: center;
}
.main3{
    width: 30%;
    background-color: #CDF5FD;
    text-align: center;
    height: 500px;
    border-radius: 50px;
    margin-top: 20px;
    margin-right: 60px;
    margin-left: 10px;
    float: right;
}
.main:hover{
    box-shadow: 0px 0px 10px 4px #00A9FF;
}
.main3:hover{
    box-shadow: 0px 0px 10px 4px #00A9FF;
}
.main2:hover{
    box-shadow: 0px 0px 10px 4px #00A9FF;
}
a{
    color: black;
}
table, tr, td{
    margin-top: 25px;
    border: 1px black solid ;
    border-collapse: collapse;
    height: 30px;
    
}
table{
    text-align: center;
    font-size: 200%;
}