*{
    background-color: rgb(61, 61,61);
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
}
.baner1{
    background-color: rgb(24, 24, 24);
    width: 50%;
    color: white;
    float: left;
    height: 10vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.baner2{
    width: 50vw;
    background-color: rgb(25, 25, 25);
    color: white;
    float: left;
    
    height: 10vh;
    text-align: center;
}
.baner2{
    display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: center;
align-items: center;
align-content: center;
}
.wyszukiwanie {
    display:flex;
    flex-direction:row;
    border:1px solid rgb(61, 61,61);
    padding:1px;
  }
  
    .search {
    flex-grow:2;
    border:none;
  }
  
  .search:focus {
    outline: none;
  }
  
  .wyszukiwanie:focus-within { 
    outline: 1px solid rgb(61, 61,61) 
  }
  
  .btn1 {
    border:1px solid rgb(61, 61,61);
    background:rgb(61, 61,61);
    color:white;
  }
  h1{
    background-color: rgb(24, 24, 24)

  }
  .przyciski{
    width: 100%;
    text-align: center;
    background-color:#6666;
  }
  .btn2{
    color: whitesmoke;
    border-radius: 25px;
    width: 7vw;
    height: 1.5vw;
  }

