*{
    font-family: georgia;
    text-align: center;
    margin: 0;
}
.baner{
    background-color:  #4BA3C7;
    color: white;
    height: 80px;
    font: 120%;
}
.stopka{
    background-color:  #4BA3C7;
    color: white;
    height: 80px;
    font: 120%;
    width: 100vw;
    float: left;
}
.lewy{
    background-color:  #EFEFEF;
    height: 400px;
    width: 25vw;
    float: left;
}
.prawy{
    background-color:  #EFEFEF;
    height: 400px;
    width: 25vw;
    float: left;
}
.center{
   background-color:#90CAF9;
   height: 400px;
   width: 50vw;
   float: left;
}
tr{
    padding: 5px;
    border: 1px solid #90CAF9;

}
td{
    padding: 5px;
    border: 1px solid #90CAF9;
    width: 200px;
}
table{
    text-align: center;
    margin-left: 20px;
}
