*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: mistyrose;
    color: rgb(62, 39, 35);
    text-align: center;
}
.lewy{
    width: 20%;
    height: 700px;
    padding: 30px;
    opacity: 10px;
    float: left;
}
.zdjlewy{
    width: 100%;
}
.prawy{
    width: 65%;
    height: 700px;
    float: right;
    padding-right: 150px ;
}
.zdj{
    width: 140px;
    padding: 2px;
    border-radius: 5%;

}
.zdj:hover{
    border:1px solid black ;
    
}
.stopka{
    width: 100%;
    float: left;
    height: 50px;
}
table{
    border: 1px solid black;
    text-align: center;
    margin-left: 67px;
}
.photo{
    width: 550px;
    margin-top: 50px;
}
.lewy1{
    height: 600px;
    box-shadow: 8px 8px 24px 8px gray;
    width: 80%;

}